@font-face {
  font-family: myFont1;
  src: url(../fonts/uncial.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.container{
  height: 100%;
  width:100%;
  background-image: url(images/background2.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative ;
  background-attachment: fixed;
}
a[href] {
  color: #000000;
  font-weight: bold
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.small_image{
    width: 60px;
    cursor: pointer;
}
.logo{
    width: 400px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background: linear-gradient(45deg, #ffffff, #E2C78B);
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
}

nav ul li{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#one{
  font-family: myFont1;
  color: rgb(0, 0, 0);
  font-size: 25px;

  display: inline-block;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;

  
  margin: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 90%;
}

.shrugs{
  width: 40%;
  margin-left: 10%;
  margin-top: 8%;
}

.content{
    margin-left: 4%;
    margin-top: 4%;
}


*,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210 30% 24%);
}

h1 {
  margin: 0px 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px 20px;
  box-sizing: border-box;

  font-size: 70px;
  font-family: myFont1;
  color: rgb(0, 0, 0);
}

.underlined {
/*   background: red; */
  position: relative;
}

.underline-mask:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}


.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.underline-overflow:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(10 80% 50%);
}

.underline-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}
